In [1]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (1.4.17)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from sqlalchemy) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from sqlalchemy) (1.1.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.4.1)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file= "Life Expectancy Data.csv"
life_expectancy_data_df = pd.read_csv(csv_file)
life_expectancy_data_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
life_expectancy_data_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [33]:
columns=["Country", "Year","Life expectancy "]
clean_df=life_expectancy_data_df[columns].copy()
clean_df

          Country  Year  Life expectancy
0     Afghanistan  2015              65.0
1     Afghanistan  2014              59.9
2     Afghanistan  2013              59.9
3     Afghanistan  2012              59.5
4     Afghanistan  2011              59.2
...           ...   ...               ...
2933     Zimbabwe  2004              44.3
2934     Zimbabwe  2003              44.5
2935     Zimbabwe  2002              44.8
2936     Zimbabwe  2001              45.3
2937     Zimbabwe  2000              46.0

[2938 rows x 3 columns]

In [36]:
life_df=clean_df.loc[clean_df['Year'] == 2015]
life_df.drop(columns="Year")
#this is 2015

                                 Country  Life expectancy
0                            Afghanistan              65.0
16                               Albania              77.8
32                               Algeria              75.6
48                                Angola              52.4
64                   Antigua and Barbuda              76.4
...                                  ...               ...
2858  Venezuela (Bolivarian Republic of)              74.1
2874                            Viet Nam              76.0
2890                               Yemen              65.7
2906                              Zambia              61.8
2922                            Zimbabwe              67.0

[183 rows x 2 columns]

In [ ]:
csv_file= ".csv"